##  파이썬 3/18 목요일 첫번째 강의

### view -> 토글넘버

###  a: 위에 셀 생성, b: 밑에 셀 생성 x: 셀삭제

### m: 마크다운으로 변경 esc: command mode로 전환 ctrl z: 되돌리기 ctrl y: 앞으로 되돌리기

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 마크다운 연습용입니다.
- 연습연습

In [7]:
num= [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [8]:
num1= 13
num2= 25
num3= 77
print(num1)
print(num2)
print(num3)

13
25
77

In [9]:
str1= ('funny python')
str2 = ('easy python')
print(str1, str2)

funny python easy python

In [10]:
number = 10
Number = 20
print ('number :' ,number)
print ('Number:' ,Number)

number : 10
Number: 20

### 변수명에는 숫자나 조건문은 사용 불가능하다.

In [11]:
import keyword 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
a,b= 10, 15
print(a)
print(b)

10
15

In [13]:
x= 100
y= 200
sum1= x+y
print(sum1) #sum은 키워드가 아니라 함수여서 변수로 출력이 가능하다.

300

In [14]:
sum([1,2,3])

6

In [15]:
max([1,2,3])

3

In [23]:
s='she\'s gone'
s

"she's gone"

In [46]:
s1= 'he said that \'she is gone\''
s2= 'he said that \'she is gone\'' 
print (s1)
print (s2)

he said that 'she is gone'
he said that 'she is gone'

In [21]:
s= '여러줄로 구성된 \n문자열을 하나로 대입할 때'
print(s)

여러줄로 구성된
문자열을 하나로 대입할 때

In [32]:
s= ''' 여러줄로 구성된 
문자열을 하나로
대입할 때'''
print(s)

 여러줄로 구성된
문자열을 하나로
대입할 때

In [39]:
s= 'my name is daegyo'
print(s[10:17])

 daegyo

In [41]:
s= 'my name is dk'
print(s[-2])
print(s[-1])

d
k

In [43]:
s= 'my name is dk'
print(s[:2])
print(s[3:7])
print(s[8:10])

my
name
is

In [53]:
print(type (1)) 
print(type ('hangul'))
print(type(True))

<class 'int'>
<class 'str'>
<class 'bool'>

In [75]:
a= 'my name is daegyo how are you'
print(a[-1])

u

In [98]:
s= '2021년 3월 18일의 날씨는 맑음입니다.'
i='*'
print('날짜:',s[0:12])
print(20*i)
print('날씨:',s[-6:-4])

날짜: 2021년 3월 18일
********************
날씨: 맑음

In [95]:
day=7
s= '오늘은 7월 %d일 입니다. ' %day
s

'오늘은 7월 7일 입니다. '

In [97]:
day=8
s= '오늘은 7월%d일 입니다.' %day
s

'오늘은 7월8일 입니다.'

In [99]:
month= 7
day= 7
s= '오늘은 {}월 {}일 입니다.'. format(month, day)
s

'오늘은 7월 7일 입니다.'

In [103]:
x= 100
y= 200
sum2= x+y
print('{}와 {}의 합은 {}입니다.'.format(x, y, sum2))

100와 200의 합은 300입니다.

In [106]:
x= 3000
y= 2000
sum3= x+y
print(f'{x}와 {y}의 합은 {sum3}입니다.')

3000와 2000의 합은 5000입니다.

In [108]:
a= '대교는 대대대리석'
a. count('대')

4

In [109]:
a= '  대교는 대대대리석  '
a. strip()

'대교는 대대대리석'

In [114]:
a= '우리집에서 라면 먹고갈래'
a.split(' ')

['우리집에서', '라면', '먹고갈래']

In [117]:
a= '우리집에서 라면 먹고갈래'
a. replace('우리집', '너네집')

'너네집에서 라면 먹고갈래'

0