In [1]:
import numpy as np
import pandas as pd

## Series 연산

In [2]:
population= pd.Series([9904124,3448736,2895432,2466052], index= ['서울', '부산','인천','대구'])
population

서울    9904124
부산    3448736
인천    2895432
대구    2466052
dtype: int64

In [3]:
population.name= '인구'
population.index.name ='도시'
population

도시
서울    9904124
부산    3448736
인천    2895432
대구    2466052
Name: 인구, dtype: int64

In [4]:
population/1000000

도시
서울    9.904124
부산    3.448736
인천    2.895432
대구    2.466052
Name: 인구, dtype: float64

### Series 인덱싱, 슬라이싱

In [6]:
# 인덱싱
# Series에서는 index에 값을 지정해줬을때
# index값과 index번호 둘다 인덱싱에 사용가능
print(population[0])
print(population['서울'])

9904124
9904124

In [8]:
# 한번에 여러 값 인덱싱하기
# 리스트 값을 통해 여러가지 값 인덱싱 가능
# 원하는 순서대로 값을 가져올 수 있다.
population [['인천','서울','부산']]
population [[3,2]]

도시
대구    2466052
인천    2895432
Name: 인구, dtype: int64

In [9]:
# boolean 인덱싱
population>=2500000

도시
서울     True
부산     True
인천     True
대구    False
Name: 인구, dtype: bool

In [ ]:
# 두가지 이상의 조건으로 불리언 인덱싱 하기
# 250만 이상, 500만 이하 인구를 가지는 도시 추출

In [16]:
population [(population >=2500000) & (population <=5000000)]

도시
부산    3448736
인천    2895432
Name: 인구, dtype: int64

#### 슬라이싱
- index 값을 사용 [이상:이하]
- index 번호를 사용 [이상 : 미만]

In [26]:
print(population[1:3]) # [이상:미만]
print(population['부산':'인천']) #[이상:이하]

도시
부산    3448736
인천    2895432
Name: 인구, dtype: int64
도시
부산    3448736
인천    2895432
Name: 인구, dtype: int64

### 연습문제 ###
- 스마트 중학교 1학년 1반의 중간고사 성적
- (국어,영어, 수학, 과학, 사회)점수를 series 데이터로 생성하시오.
- 인덱스 값, 인덱스 이름, Series 이름 부여
- 국어, 영어, 수학 점수만 추출

In [28]:
result= pd.Series([90,80,70,60,100], index= ['국어', '영어','수학','과학','사회'])
result

국어     90
영어     80
수학     70
과학     60
사회    100
dtype: int64

In [30]:
result.name= '중간고사 성적'
result.index.name ='과목'

In [31]:
result

과목
국어     90
영어     80
수학     70
과학     60
사회    100
Name: 중간고사 성적, dtype: int64

In [33]:
result[0:3]

과목
국어    90
영어    80
수학    70
Name: 중간고사 성적, dtype: int64

In [36]:
result[result>=85]

과목
국어     90
사회    100
Name: 중간고사 성적, dtype: int64

- 80점 이상, 90점 이하 과목 추출

In [38]:
result[(result >=80)&(result<=90)]

과목
국어    90
영어    80
Name: 중간고사 성적, dtype: int64

- 평균, 합계, 최대값

In [43]:
print("평균: ",result.mean())
print("합계: ", np.sum(result))
print("최대값 :", np.max(result) )

평균:  80.0
합계:  400
최대값 : 100