In [2]:
import pandas as pd
import numpy as np

## 딕셔너리 객체로 Series 생성
- 딕셔너리는 key와 value로 생성
- key값은 index
- value값은 value

In [3]:
data = {'서울':9631482, '부산': 3393191, '인천': 2632035, '대전':1490158}
population2 = pd.Series(data)  #2010년 인구를 딕셔너리로 생성년 인구를 딕셔너리로 생성
population2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [4]:
population= pd.Series([9904124,3448736,2895432,2466052], index= ['서울', '부산','인천','대구'])
population

서울    9904124
부산    3448736
인천    2895432
대구    2466052
dtype: int64

In [5]:
population.name= '인구'
population.index.name ='도시'
population

도시
서울    9904124
부산    3448736
인천    2895432
대구    2466052
Name: 인구, dtype: int64

In [6]:
sub_population = population - population2
sub_population

대구         NaN
대전         NaN
부산     55545.0
서울    272642.0
인천    263397.0
dtype: float64

In [29]:
# boolean 인덱싱을 통해서
# null 값만 출력
# isnull
sub_population [sub_population.notnull()]

부산     55545.0
서울    272642.0
인천    263397.0
dtype: float64

## series 데이터 갱신, 추가, 삭제

In [ ]:
# 갱신, 추가
# 변수 [인덱스] = 값
# sub_population의 대전값 갱신

In [17]:
sub_population ["대전"]=80000
#광주 값 추가
sub_population ["광주"]=100000

In [24]:
sub_population

대전     80000.0
부산     55545.0
서울    272642.0
인천    263397.0
광주    100000.0
dtype: float64

In [30]:
#삭제
#del변수 [인덱스]
#대구값 삭제
del sub_population['대구']
sub_population

대전         NaN
부산     55545.0
서울    272642.0
인천    263397.0
dtype: float64

In [7]:
# 변수. drop (인덱스)
sub_population = sub_population.drop("대전")

In [32]:
sub_population

부산     55545.0
서울    272642.0
인천    263397.0
dtype: float64

In [8]:
sub_population

대구         NaN
부산     55545.0
서울    272642.0
인천    263397.0
dtype: float64